@charset "utf-8";

/* NanumGothic css */
@font-face {
	font-family: 'NanumGothic';
	src: url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothic.eot);
	src: url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothic.eot?#iefix) format('embedded-opentype'),
	url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothic.woff) format('woff'),
	url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothic.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NanumGothicBold';
	src: url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothicBold.eot);
	src: url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
	url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothicBold.woff) format('woff'),
	url(//r.yna.co.kr/global/font/NanumGothic/v01/NanumGothicBold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

