@charset "UTF-8";

/** reset **/
a,abbr,acronym,address,applet,article,aside,audio,b,bdi,bdo,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,header,hgroup,h1,h2,h3,h4,h5,h6,html,i,iframe,img,input,ins,kbd,label,legend,li,map,mark,menu,nav,object,ol,p,pre,q,rp,rt,ruby,s,samp,section,select,small,span,strike,strong,summary,sub,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;font-size:100%;font-family:inherit;border:0;vertical-align:baseline}
input,select,textarea{color:#000;font-family:inherit;padding:0;margin:0}
.blind{position:absolute !important;font-size:0 !important;visibility:hidden !important}
ol,ul{list-style:none}
a{color:#000;text-decoration:none}
img{vertical-align:top}
body{color:#000;font-size:12px;line-height:1;font-family:'맑은 고딕','Malgun Gothic',AppleSDGothicNeo-Regular,Arial,Helvetica,sans-serif;letter-spacing:0;background:#fff}

/** widget **/
#widget{position:relative;width:718px;overflow:hidden;padding-bottom:24px}
#widget .widget_contents .content_wrap{position:relative;overflow:hidden}
#widget .widget_contents .content_wrap .content .list{width:720px}
#widget .widget_contents .content_wrap .content .list:after{clear:both;display:table;content:''}
#widget .widget_contents .content_wrap .content .list > li{float:left;margin-left:23px}
#widget .widget_contents .content_wrap .content .list > li:first-child{margin:0 !important}
#widget .widget_contents .content_wrap .content .list .video_item{display:block;position:relative;width:162px}
#widget .widget_contents .content_wrap .content .list .video_item .thumb{position:relative;height:109px;overflow:hidden;background-size:100% 100%;background-position:top center;background-repeat:no-repeat}
#widget .widget_contents .content_wrap .content .list .video_item.ad_slot .thumb{background-size:cover}
#widget .widget_contents .content_wrap .content .list .video_item .thumb img{width:100%;visibility:hidden;opacity:0}
#widget .widget_contents .content_wrap .content .list .video_item .thumb:before{position:absolute;top:0;left:0;right:0;bottom:0;background:#000;opacity:0;content:'';-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
#widget .widget_contents .content_wrap .content .list .video_item .thumb:after{position:absolute;top:50%;left:50%;width:28px;height:30px;background:url("../images/icon_play_20200326.png") no-repeat;margin:-14px 0 0 -15px;opacity:0;content:'';box-sizing:border-box;z-index:1}
#widget .widget_contents .content_wrap .content .list .video_item:hover .thumb:before{opacity:.5}
#widget .widget_contents .content_wrap .content .list .video_item:hover .thumb:after{opacity:1}
#widget .widget_contents .content_wrap .content .list .video_item .play_time{position:absolute;bottom:0;right:0;width:40px;height:20px;color:#fff;font-size:12px;line-height:20px;text-align:center;background:rgba(0,0,0,.5);z-index:1}
#widget .widget_contents .content_wrap .content .list .video_item .title{height:36px;overflow:hidden;letter-spacing:-1px;line-height:18px;word-break:break-all;padding-top:5px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
#widget .widget_contents .content_wrap .content .list .video_item:hover .title{text-decoration:underline}
#widget .widget_contents .content_wrap .content .list .video_item .date,
#widget .widget_contents .content_wrap .content .list .video_item .source{color:#999;font-size:10px;line-height:24px;margin:0}
#widget .widget_contents .content_wrap .content .list .selected .video_item .thumb:before{opacity:.5}
#widget .widget_contents .content_wrap .content .list .selected .video_item .thumb:after{opacity:1}
#widget .widget_contents .provide{position:absolute;bottom:0;right:0;height:24px;color:#b3b3b3;font-size:12px;line-height:24px;letter-spacing:0}
#widget .widget_contents .provide .logo{display:inline-block;width:60px;height:15px;overflow:hidden;text-indent:-9999px;background:url("../images/logo_deep_dive.png") no-repeat;background-size:60px 15px;vertical-align:-3px}
#widget .widget_contents .provide .logo:before{display:none;background:url("../images/logo_deep_dive_over.png") no-repeat;content:''}
#widget .widget_contents .provide .logo:hover{background-image:url("../images/logo_deep_dive_over.png")}
@media (-webkit-min-device-pixel-ratio:1.1), (min-resolution:97dpi) {
  #widget .widget_contents .provide .logo{background-image:url("../images/logo_deep_dive_3x.png")}
  #widget .widget_contents .provide .logo:before{background-image:url("../images/logo_deep_dive_over_3x.png")}
  #widget .widget_contents .provide .logo:hover{background-image:url("../images/logo_deep_dive_over_3x.png")}
}
#widget .widget_player{display:none;position:absolute;left:0;width:100%;background:#fff;margin-top:85px;z-index:10}
#widget .widget_player .player_wrap iframe{width:100%;vertical-align:top}
/* 위젯 확장 */
#widget.on_player .widget_player{display:block}

/* type 2 */
#widget.type_2{width:604px}
#widget.type_2 .widget_contents .content_wrap .content .list{width:606px}
#widget.type_2 .widget_contents .content_wrap .content .list > li{margin-left:8px}
#widget.type_2 .widget_contents .content_wrap .content .list .video_item{width:145px}
#widget.type_2 .widget_contents .content_wrap .content .list .video_item .thumb{height:97px}